DB_HOST=db # same as the postgres container name
DB_PORT=5432
DB_USER=postgres
DB_NAME=transaction_routine_db
DB_PASSWORD=pg123
DOCUMENT_ENCRYPTION_KEY=12345678901234567890123456789012
DOCUMENT_HASH_SALT=my-secret-salt